* {
	margin:0;
	padding:0;
	}
	body {
	background:#ccc;
}	
header, .slider, .main, footer{
	width:90%;
	max-width:1000px;
	margin:0px auto;
	}	
.cintillo{
    line-height: 0;
}
.zoom{
		transition: 1.5s ease;
 		-moz-transition: 1.5s ease; /* Firefox */
 		-webkit-transition: 1.5s ease; /* Chrome - Safari */
 		-o-transition: 1.5s ease; /* Opera */
	}
	.zoom:hover{
		transform : scale(1.2);
		-moz-transform : scale(2); /* Firefox */
		-webkit-transform : scale(1.2); /* Chrome - Safari */
		-o-transform : scale(1.2); /* Opera */
		-ms-transform : scale(1.2); /* IE9 */
	}
.logotipo {
    line-height: 0px;
    background: white;
}
.fecha-portada	{
    background: white;
font-size:18px ;
 text-align:right;
 cursor:default;
 }
.polaroid{
   float:right;
}
p{
text-align: justify;
    font-size:24px;
    color:darkslategrey;
}

h2{
    font-size: 26px;
    text-align: center;
    color:#194050 ;
}

 .menu{
	 
		 
	 background-color:green;
	 height:60px;
 }
 .menu li{
	 
	 display:block; 
 }
 .menu li a{
	 
	 display:block;
	 padding:10px 15px;
	 color:#fff;
	 text-decoration:none;
	 
 }
 .menu li a:hover {
	 
	 background:#10491A;
	 color:#fff;
 }
 nav ul li {
		display:block;
		text-align:center;
		background:green;
	}
	
	header nav ul li a:hover{
		
		display:block;
		background:#10491A;
		list-style: none;
		color:#fff;
	}
	.menu>li {
		
		float:left;
	}
	
	.menu li ul{ /* este es el submenu de empresa*/
		display:none;
		position:absolute;
		min-width:90px;
	}
	.menu li:hover>ul{
		display:block;
	}
	.slider {
	line-height: 0;
	width:600%;
	max-width:1000px;
	margin:0px;
	
	overflow:hidden;
	}
	.slider ul{
	display:flex;
	padding:0;
	width:600%;
	animation: cambio 20s infinite alternate linear;
	}
	.slider li{
	width:100%;
	list-style:none;
	}
	.slider img{
	width:100%;
	height:100%;
	}
	@keyframes cambio {
	
	0%{margin-left:0;}
		10%{margin-left:0;}

	15%{margin-left:-100%;}
	25%{margin-left:-100%;}

	35%{margin-left:-200%;}
	45%{margin-left:-200%;}

	55%{margin-left:-300%;}
	65%{margin-left:-300%;}
	
		75%{margin-left:-400%;}
		85%{margin-left:-400%;}

		95%{margin-left:-500%;}
		100%{margin-left:-500%;}
	}
	.main .articles, .banner_enlaces{
      width:100%;
        height: 100%;
		margin:0px;
		float:left;
		
		}
.main .articles article {
	color:#000;

				
				padding:20px;
				background:white;
				margin: 0px auto;
				}		

	#footer-contenedor{
		line-height: 0;  
        background: white;
		display:block;
		height:50px;
			width:100%;
	max-width:1000px;
	margin:0px auto;
	overflow:hidden;
	position:relative;
        padding: 0px;
        height: 70px;
		
	}
#footer-banner-1,#footer-banner-2,#footer-banner-3,#footer-banner-4,#footer-banner-5,#footer-banner-6{
	float:left;
width:160px; 
height:160px;
    line-height: 0;
}
		footer {
			background:#000;
			color:#fff;
			text-align:center;
			width:90%;
	max-width:1000px;
	margin:0px auto;
            margin-top: 0px;
            margin-bottom: 10px;
            padding: 0px auto ;
            height: 30px;
		}
		
