body{
background:#ccc;
}

.wrap{
    padding-top: 100px;
    padding-bottom: 50px;
}
.center-block{
    margin-left: 32%;
    min-width: 360px;
}
.el_modificador, .el_removedor, .el_nombre{
    color: black;
}
.el_nombre:hover{
    color: #337AB7;
}
.el_modificador{
    color: green;
}
.el_modificador:hover{
    color: orange;
}

.el_removedor{
    color: red;
}
.el_removedor:hover{
    color: green;
}

