.hojah{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    text-align: center;
}/*CONTENEDOR*/
.contenidosh{
    width: 100%;
}
#enlace{
    cursor: pointer;
}
/*CONTENEDOR*/
.contenidoh{
    height: 182px;
}
.correlativo{
    text-align: center;
    margin-top: 50px;
    width: 40%;
    display: block;
    float: left;
    height: 132px;
}
.correl, .fieldser{
    text-align: center;
    width: 50%;
    display: block;
    margin: auto;
}
.numero{
    font-size: 35px;
    width: 50%;
    display: block;
    margin: auto;
}/*CONTENEDOR*/
.articulo{
    margin-top: 50px;
    width: 60%;
    display: block;
    float: left;
}
.Datos_personales{
    width: 30%;
    float: left;
}
.informacion{
    width: 70%;
    float: left;
}
.duic, .direc, .telec{
    margin-top: 20px;
}/*DATOS A LA IZQUIERDA*/
.nombre_c, .duic, .direc, .telec{
    margin-left: 40%
}/*DATOS A LA DERECHA*/
.duict, .direct, .telect{
    margin-top: 20px;
}
.centro{
    width: 99%;
    display: block;
    margin: auto;
    margin-top: 40px;
}
.tipo_de_mantenimiento{
   width: 33%;
    float: left;
}
.contenedor_de_la_izquierda{
    width: 167px;
    display: block;
    margin: auto;
}
.contenedor_de_la_derecha{
    width: 132px;
    display: block;
    margin: auto;
}
.sub_contenedor_de_la_derecha{
    width: 130px;
    display: block;
    margin: auto;
}
.fechas{
    width: 66%;
    float: left;
}
.fecha_de_recibido, .fecha_de_entrega{
    width: 50%;
    float: left;
}
.mantec, .recic, .entrec{
    text-align: left;
    margin-top: 20px;
}
.observacion{
    width: 100%;
    margin-top: 140px;
}
.observaciones{
    text-align: center;
    width: 50%;
    display: block;
    margin: auto;
}
.obserc textarea{
    width: 100%;
    height: 100px;
    resize: none;
}
textarea:focus{
    outline: none; 
    border-color:  #7f8c8d; 
    box-shadow:  0  0  10px  #7f8c8d; 
}
.texto_observaciones{
    font-family: Arial;
    font-size: 16px;
}
.firmas, .firmante{
    width: 50%;
    display: block;
    float: left;
}
.imagen, .imagen_dos{
    margin-top: 20px;
    width: 50%;
    height: 25px;
    float: left;
}
.imagen_firma{
    width: 100%;
}
.rayos{
    width: 200px;
    margin-left: 18%;
    position: absolute;
    z-index: -1;
}
/*.entrega{
    background-image: url(firmaEinstein.png);
    background-repeat: no-repeat;
    background-position: top;
}*/
.entrega, .recibi_conforme{
    text-align: center;
}
.lineone, .tecnico, .linetwo, .cliente{
    text-align: center;
}
.footer{
    padding-bottom: 150px;
}
footer{
    text-align: center;
}

/* OCULTAR EN IMPRESION*/
@media print{
    @page{
    margin:0;
    size: landscape;
}
    header{
        display: none;
    }
    .hojah{
        margin-top: 0px;
    }
    .footer{
        padding-bottom: 0px;
    }
fieldset{
        border: 1;
    }
    .obserc{
        border: 0;
    }
    textarea{
        border: 1;
    }
}