
* {
	margin:0;
	padding:0;
	}
	body {
	background: #000;
}

.cintillo{
    line-height: 0;
}
.general {
	    line-height: 0;
	background: white;

}
.zoom{
		transition: 1.5s ease;
 		-moz-transition: 1.5s ease; /* Firefox */
 		-webkit-transition: 1.5s ease; /* Chrome - Safari */
 		-o-transition: 1.5s ease; /* Opera */
	}
	.zoom:hover{
		transform : scale(1.2);
		-moz-transform : scale(2); /* Firefox */
		-webkit-transform : scale(1.2); /* Chrome - Safari */
		-o-transform : scale(1.2); /* Opera */
		-ms-transform : scale(1.2); /* IE9 */
	}
.post {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #999;
}
.post .post-title a {
	color: #333;
}
.post .thumb {
	margin-right: 10px;
	width: 40%;
}

.post .thumb img {
	width: 100%;
}

.post .contenedores-botones {
	width: 100%;
}
p .post-contenido{
	text-align: justify;
}

contenedor {height: 700px;margin:0;}
col_der, #col_izq, #col_cen {height: 100%;}
col_der {float: right; width: 50px;}
col_izq {float: left; width: 50px;}
col_cen {align: center; width: 250px;}

.col_cen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.logotipo{
    line-height: 0;
   background: white;
}

header, .slider, .center, .articles, .article, .caja, .main, footer{
	width:90%;
	max-width:1000px;
	margin:0px auto;
	margin-bottom: 0px;
	padding-bottom: 0px;
	}
table {
	width:90%;
	max-width:1000px;
	margin:0px auto;
}
.fecha-portada	{
margin: 0px auto;

    margin-top: 0px;
    background:white;
 text-align:right;
 cursor:default;
 }
h3{
    font-size: 20px;

}
h5{
	text-align: center;
}
 .menu{

	 width:100%;
	max-width:1000px;
	margin:0px auto;
	 background-color:green;
	 height:40px;
 }
.left a {
	text-align: justify;
}
 .menu li{
	 display:block;
 }
 .menu li a{
	 display:block;
	 padding:10px 15px;
	 color:#fff;
background: green;
	 text-decoration:none;

 }
 .menu li a:hover {

	 background:#ccc;
	 color:#000;
 }
a{
	text-align: center;
	padding: 20px;
}
.post-title{
	font-size: 26px;
	color: #10491A;
	text-align: left;
}
post-contenido text-justify {

	text-align: justify;
}

	.menu>li {

		float:left;
	}

	.menu li ul{ /* este es el submenu de empresa*/
		display:none;
		position:absolute;
		min-width:110px;
		text-align: center;
	}
	.menu li:hover>ul{
		display:block;
	}
	.slider {
	line-height: 0;
	width:600%;
	max-width:1000px;
	margin:0px;


	overflow:hidden;
	margin-bottom: 0px;
	padding-bottom: 0px;
	}
	.slider ul{
	display:flex;
	padding:0;
	width:600%;
	animation: cambio 20s infinite alternate linear;
	margin-bottom: 0px;
	padding-bottom: 0px;
	}
	.slider li{
	width:100%;
	list-style:none;
	margin-bottom: 0px;
	padding-bottom: 0px;
	}
	.slider img{
	width:100%;
	height:100%;
	margin-bottom: 0px;
	padding-bottom: 0px;
	}
	@keyframes cambio {

	0%{margin-left:0;}
		10%{margin-left:0;}

	15%{margin-left:-100%;}
	25%{margin-left:-100%;}

	35%{margin-left:-200%;}
	45%{margin-left:-200%;}

	55%{margin-left:-300%;}
	65%{margin-left:-300%;}

		75%{margin-left:-400%;}
		85%{margin-left:-400%;}

		95%{margin-left:-500%;}
		100%{margin-left:-500%;}
	}
	.main .articles, .banner_enlaces{

		width:100%;
		float:left;
        margin: 0px auto;
        margin-top: 0px;

		}
.main .articles article {
	color:#000;

				padding:10px;
				background:white;
				margin: 0px auto;
}


	#footer-contenedor{
		line-height: 0;
        background: white;
		display:block;
		height:50px;
			width:100%;
	max-width:1000px;
	margin:0px auto;
	overflow:hidden;
	position:relative;
       height: 70px;

	}


#footer-banner-1,#footer-banner-2,#footer-banner-3,#footer-banner-4,#footer-banner-5,#footer-banner-6{
	float:left;
width:160px;
   line-height: 0;
height:160px;
}
		footer {
			background: #000;
			color:#fff;
			text-align:center;
			width:90%;
	max-width:1000px;
	margin:0px auto;
            margin-top: 0px;
            margin-bottom: 10px;
            padding: 0px auto ;
            height: 30px;
		}
