/*body{
font-family: 'Arial';
    text-align: center;
}
.detalles{
    color: black;
}
.wrap{
    padding-top: 30px;
    padding-bottom: 50px;
}
#title{
    font-size: 30px;
}

footer .container {
    padding: 20px;
    color:black;
    
    
}
footer .container a {
    
    color:darkorange;}


footer .container a:hover {
    
    color:green;
text-decoration: none;}
.panel panel-default{
    margin-top: 500px;
}
#transicion:hover{
    margin: auto;
    width: 400px;
    height: 400px;
    border-radius: 80%;
    background-color: #3498db;
    cursor: pointer;
    padding: 30px;
    box-shadow: 0px 2px 40px #000;
    color: #fff;
    -webkit-transition: width 1s ease, height 1s ease, background-color 2s ease-out, border-radius 2s ease-in-out, padding 1s ease 2s, box-shadow 1s ease 2s, color 3s linear;
-moz-transition: width 1s ease, height 1s ease, background-color 2s ease-out, border-radius 2s ease-in-out, padding 1s ease 2s, box-shadow 1s ease 2s, color 3s linear;
    -o-transition: width 1s ease, height 1s ease, background-color 2s ease-out, border-radius 2s ease-in-out, padding 1s ease 2s, box-shadow 1s ease 2s, color 3s linear;
    -ms-transition: width 1s ease, height 1s ease, background-color 2s ease-out, border-radius 2s ease-in-out, padding 1s ease 2s, box-shadow 1s ease 2s, color 3s linear;
    transition: width 1s ease, height 1s ease, background-color 2s ease-out, border-radius 2s ease-in-out, padding 1s ease 2s, box-shadow 1s ease 2s, color 3s linear;
}