.hoja, .hojah{
    margin-top: 25px;
    font-size: 2em;
    text-align: center;
}
.tipo{
    margin-top: 0px;
    font-size: 1.667em;
}
.formularioizquierdo{
    float: left;
    width: 35%;
    display: block;
    margin-left: 10%;
    margin-top: 2.5%;
}
.inputs1, .inputs2, .inputs3, .inputs4{
    font-family: Corbel;
    font-size: 1.1em;
    height: 30px;
    margin-top: 25px;
}
.inputs1:focus, .inputs2:focus, .inputs3:focus, .inputs4:focus{
outline: none !important;
    border-color: transparent;
    box-shadow:  #7f8c8d;
    }
.circulouno, .circulodos{
    width: 49%;
    display: inline-block;
    margin: auto;
}
span{
    font-size: 1.22em;
}
.formularioderecho{
    float: left;
    width: 50%;
    display: block;
    margin-right: 5%;
    margin-top: 2.2%;
}
.fechas{
    width: 100%;
    display: block;
    margin: auto;
}
.primera_fecha, .segunda_fecha, .contenedor_monto, .contenedor_estado{
    width: 40%;
    display: inline-block;
    margin: auto;
}
.recibe{
    margin-top: 5px;
}
.entrega, .monto, .estado, .fecha, .fechados, .input_monto, .seleccion{
    margin-top: 13px;
    width: 80%;
}
.fecha, .fechados, .input_monto, .seleccion, .opcionuno, .opciondos, .observas{
    color: #7f8c8d;
    font-family: Corbel;
    font-size: 1.1em;
}
.contenedor_observaciones{
    margin-top: 13px;
}
fieldset{
    width: 100%;
}
.observas{    
    height: 5.28em;
    width: 500px;
}
.boton_de_submit{
    float: right;
    margin-top: 5px;
    margin-left: 10px;
    font-family: Corbel;
    font-size: 1.22em;
    color: white;
    background-color: #7f8c8d;
}
.boton_de_submit:hover{
    color: #DDDED6;
}
textarea{
    width: 500px;
}
textarea:focus {  
    outline: none; 
    border-color:  #7f8c8d; 
    box-shadow:  0  0  10px  #7f8c8d; 
}
footer{
    text-align: center;
}